<footer class="page-footer font-small bg-secondary">

    <div class="container">
        
        <div class="row">
    
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-contacts col-md d-flex justify-content-center">

                    <li>
                        <a href="https://www.linkedin.com/in/deniseanjos/" target="_blank" class="iconsSocial">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/deniseanjos" target="_blank" class="iconsSocial">
                            <i class="fab fa-github-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank" class="iconsSocial">
                            <i class="fab fa-instagram-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/" target="_blank" class="iconsSocial">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    <hr>
        <div class="footer-copyright text-center">
            <span class="text-dark">Todos os direitos reservados<i class="far fa-copyright"></i> 
                <a class="text-dark" target="_blank" href="https://www.linkedin.com/in/deniseanjos/">Denise Anjos</a>
            </span>
        </div>

    </div>

</footer>
