<nav class="navbar navbar-expand-lg navbar-light menu-bg-color">
    <a class="navbar-brand" href="#">BMBr</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">

        <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <div class="photo d-flex justify-content-center">
                        <img src="https://i.imgur.com/sLahl4b.jpg" alt="Foto de Perfil" width="50px" height="50px"
                            class="img-fluid rounded-circle">
                    </div>
                    <div class="name d-flex justify-content-center">
                        <p class="nav-link dropdown-toggle p-0 m-0">Nome Usuário</p>
                    </div>

                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#"><i class="far fa-edit"></i> Editar Perfil</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> Sair</a>
                </div>
            </li>

        </ul>

    </div>
</nav>