<div class="container-fluid">

    <div class="row d-flex align-items-center p-3 ajust-size">

        <div class="col-md-6 border border-success">

            <img src="https://i.imgur.com/h5r1qtd.png" alt="" class="logo-blog">

            <h4 class="text-justify p-3">
                O Black Money Blog é um espaço para formento da rede de empreendedores negros.
            </h4>

        </div>

        <div class="col-md-6">

            <div class="row d-flex justify-content-center border border-success">

                <div class="col-md-6 border border-info">

                    <h1 class="text-center mb-3">Entrar</h1>

                    <div class="form-group">
                        <label for="usuario">Email</label>
                        <input class="form-control" type="text" name="usuario" id="usuario"
                            placeholder="email@email.com">
                    </div>

                    <div class="form-group">
                        <label for="Senha">Senha</label>
                        <input class="form-control" type="password" name="senha" id="senha"
                            placeholder="Digite sua senha">
                    </div>

                    <div class="d-flex justify-content-center">

                        <button class="btn btPersonalizado" type="submit">
                            Entrar
                        </button>

                    </div>

                    <hr class="mt-5 mb-5">

                    <p class="text=center">Não tem uma conta? <a href="">Cadastre-se.</a></p>



                </div>

            </div>


        </div>


    </div>

</div>